import React from 'react';
// eslint-disable-next-line
import { Create, Edit, SimpleForm, DisabledInput, TextInput, DateInput, LongTextInput, ReferenceManyField, Datagrid, TextField, DateField, EditButton, List, ReferenceField, ReferenceInput, SelectInput, NumberField, NumberInput, ChipField } from 'admin-on-rest';

const required = value => value ? undefined : 'Required';

<% Object.keys(schemas).forEach( schemaName => { 
    let schema = schemas[schemaName];
_%>
export const <%=schemaName%>List = (props) => (
    <List title="<%=schemaName%> list" {...props}>
        <Datagrid>
            <% for(let prop of schema.properties) { %>
            <%- getFieldComponent(prop) %>
            <% } %>
            <EditButton/>
        </Datagrid>
    </List>
);

const <%=schemaName%>Title = ({ record }) => {
    return record.<%=schema.idProperty%> ? <span><%=schemaName%> {record ? `"${record.<%=schema.idProperty%>}"` : ''}</span> : <span><%=schemaName%></span>;
};

export const <%=schemaName%>Edit = (props) => (
    <Edit title={<<%=schemaName%>Title />} {...props}>
        <SimpleForm>
            <% for(let prop of schema.properties) { %>
            <%- getInputComponent(schema, prop,true) %>
            <% } %>
        </SimpleForm>
    </Edit>
);

export const <%=schemaName%>Create = (props) => (
    <Create {...props}>
        <SimpleForm>
            <%_ for(let prop of schema.properties) { %>
            <%- getInputComponent(schema, prop) %>
            <% } %>
        </SimpleForm>
    </Create>
);
<% }); %>